<footer role="footer">
  <div class="hireme">
    <span>Let's talk about your next web project.</span>
    <a href="mailto:westkjones@gmail.com">//Let's Talk</a>
  </div>
  
  <div class="social">
    <a href="https://www.facebook.com/west.k.jones"><img src="{{ "/assets/img/facebook.svg" | relative_url }}"></a>
    <a href="https://www.linkedin.com/in/westkjones/"><img src="{{ "/assets/img/linkedin.svg" | relative_url }}"></a>
    <a href="https://www.instagram.com/westwaynejones/"><img src="{{ "/assets/img/instagram.svg" | relative_url }}"></a>
    <a href="https://github.com/wkjones"><img src="{{ "/assets/img/github.svg" | relative_url }}"></a>
  </div>
</footer>
