---
layout: default
---

<div class="main-hero">
  <div class="main-hero-copy">
    <span>Hi. I'm West.</span>
    <h1>I design and build websites.</h1>
  </div>
</div>


 <div class="hero">
  
  <div class="right">
    <div class="copy-wrap">
      <span style="color: #d94424;">Website Development</span>
      <h1 style="color: #FFF;">Perlamente</h1>
      <a href="/perlamente"><span style="color: #d94424;">View Project →</span></a>
    </div>
  </div>
  
  <div class="left" style="background: url('assets/img/perlamente-home.jpg') no-repeat center left; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
</div>


<div class="hero" style="background: #FFF;">
 <div class="left" style="background: url('assets/img/konared-home.jpg') no-repeat center right; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
  
  <div class="right">
    <div class="copy-wrap">
      <span style="color: #a32035;">Website Design & Development</span>
      <h1>KonaRed</h1>
      <a href="/konared"><span style="color: #a32035;">View Project →</span></a>
    </div>
  </div>
</div>


<div class="hero" style="background: #133849;">
  
  <div class="right">
    <div class="copy-wrap">
      <span style="color: #86bf51;">Website Development</span>
      <h1 style="color: #FFF;">Logi Analytics</h1>
      <a href="/logianalytics"><span style="color: #86bf51;">View Project →</span></a>
    </div>
  </div>
    
 <div class="left" style="background: url('assets/img/logi-home.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>

</div>


<div class="hero" style="background: #52b5df;">
  
  <div class="left" style="background: url('assets/img/proactive-home.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>

  <div class="right">
    <div class="copy-wrap">
      <span style="color: #26547d;">Website Design & Development</span>
      <h1 style="color: #FFF;">Proactive MD</h1>
      <a href="/proactivemd"><span style="color: #26547d;">View Project →</span></a>
    </div>
  </div>
    
</div>

<div class="hero" style="background: #455560;">

  <div class="right">
    <div class="copy-wrap">
      <span style="color: #4cc6e3;">Website Development</span>
      <h1 style="color: #FFF;">BYOD</h1>
      <a href="/byod"><span style="color: #4cc6e3;">View Project →</span></a>
    </div>
  </div>
  
  <div class="left" style="background: url('assets/img/byod-home.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
    
</div>
